body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:url(https://media.tenor.com/5vo_w_jDfwgAAAAC/calculation-math.gif);
    background-size: cover;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 25vw;
    height: 60vh;
    background-color: rgb(88, 78, 78);
    opacity: .7;
    box-shadow: 10px 5px 5px;
    border-radius: 1rem;
    padding: 8px;
    
}

#display {
    height: 8vh;
    background-color: paleturquoise;
    display: flex;
    border-radius: calc(1rem - 8px);
    width: 23vw;
    height: 10.5vh;
    justify-content: end;
    align-items: center;
    font-size: 2rem;
    overflow: scroll;
    border: 4px inset gray;
    font-family:  'Orbitron', sans-serif;;
}

.buttonRow {
    height: 10.5vh;
    display: flex;
    width: 23vw;
    justify-content: space-between;
    margin-top: 5px;
}
button {
    border-radius: 15%;
    font-size: 30px;
    width : 5vw;
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 2px 2px black;
    cursor: pointer;


}
.special {
    width: 12.5vw;
}
.buttonOperator {
    color: rgb(47, 100, 23);
}
#equals {
    background-color: rgb(236, 170, 103);
    color: white;
}

@media (max-width: 768px) {
    .container {
    width: 90vw;
    height: 90vh;
    }

    .buttonRow, #display {
        width: 80%;
    }

    button {
        width: 20vw;
    }

    .special {
        width: 40vw
    }
}

