body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: royalblue;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 25vw;
    height: 60vh;
    background-color: rgb(88, 78, 78);
    border-radius: 1rem;
    padding: 8px;
    
}

#display {
    height: 8vh;
    background-color: paleturquoise;
    display: flex;
    border-radius: calc(1rem - 8px);
    width: 23vw;
    height: 10.5vh;
    justify-content: end;
    align-items: center;
    font-size: 2rem;
    overflow: scroll;
    font-family:  'Orbitron', sans-serif;;
}

.buttonRow {
    height: 10.5vh;
    display: flex;
    width: 23vw;
    justify-content: space-between;
    margin-top: 5px;
}
button {
    border-radius: 15%;
    font-size: 30px;
    width : 5vw;
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.special {
    width: 12.5vw;
}
.buttonOperator {
    color: rgb(47, 100, 23);
}
#equals {
    background-color: rgb(236, 170, 103);
    color: white;
}